@use "../abstract/mixin" as mx;
@use "../abstract/functions" as fct;

.button {
  &__entry {
    background-color: var(--button-bg);
    @include mx.flex-row();
  }
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;

  &--primary {
    background-color: blue;

    &:hover {
      background-color: rgb(131, 131, 131);
    }

    &:active {
      background-color: rgb(0, 0, 128);
    }
  }
}
