@use "../abstract/mixin";
@use "../abstract/functions" as fct;

.card {
  background: linear-gradient(
    45deg,
    var(--state-card-back-start),
    var(--state-card-back-end)
  );

  @include mixin.respond(sm) {
    font-size: fct.px-to-rem(10);
  }

  @include mixin.flex-center();
  @include mixin.fade-in(0.256s);

  &__title {
    color: red;
  }

  &__text {
    color: whitesmoke;

    &--highlight {
      color: red;
    }

    &:hover {
      color: white;
    }
  }
}
