[data-theme="code"] {
  // Background
  --bg-base: #303131;
  --bg-surface: #415652;
  --bg-dialog-field: #ffffff;
  --result-bg: var(--bg-base);

  // Text
  --text-primary: #ffffff;
  --text-secondary: #303131;
  --text-tertiary: #4dd5bc;
  --text-player-blue: #2bb1ff;
  --text-player-orange: #f58e39;

  // Border
  --border-default: #4dd5bc;
  --border-second: #3abca4;
  --border-shadow: #4dd5bc33;

  // Button
  --btn-primary-bg: var(--bg-surface);
  --btn-exit-bg: #3c4b48;
  --btn-exit-bg-hover: #47605c;
  --btn-exit-header-bg: #3c4b48;
  --btn-exit-header-bg-hover: #47605c;
  --btn-secondary-bg: #66cfbc;
  --btn-tertiary-bg: #eefcf9;

  // Game State
  --state-player-blue: var(--text-player-blue);
  --state-player-orange: var(--text-player-orange);
  --state-card-back-start: var(--border-default);
  --state-card-back-end: #31685e;
  --state-card-img: #6ed5c2;

  // Fonts
  --font-primary: "Red Rose", sans-serif;
  --font-secondary: ; // TODO: Wert festlegen

  // Shape
  --card-radius: 0px;
}
