.theme-codeVibes {
  --bg-surface: #303131;
  --color-text: #303131;
  --color-btn-primary: #415652;
  --color-player-blue: #2BB1FF;
  --color-player-orange: #F58E39;
}

// Gradient color card links unten #31685E und redht oben #4DD5BC
// Farbe vom logo auf der card rückseite #6DD5C1