[data-theme="games"] {
  // Background
  --bg-base: #294f60;
  --bg-surface: #545d75;
  --bg-dialog-field: #f0f6f9;
  --result-bg: var(--bg-base);

  // Text
  --text-primary: #1e7594;
  --text-secondary: var(--bg-base);
  --text-tertiary: #ffffff;
  --text-player-blue: #097fc5;
  --text-player-orange: #ea6900;
  --text-btn-back: #ed1b76;

  // Border
  --border-default: #e71c4f;
  --border-shadow: #2f2e2e33;

  // Button
  --btn-primary-bg: #bfe5f2;
  --btn-secondary-bg: #fd8d81;
  --btn-tertiary-bg: var(--text-tertiary);
  --btn-exit-bg: #394b61;
  --btn-exit-bg-hover: #444862;
  --btn-exit-header-bg: #394b61;
  --btn-exit-header-bg-hover: #444862;

  // Game State
  --state-player-blue: var(--text-player-blue);
  --state-player-orange: var(--text-player-orange);
  --state-card-back-start: var(--text-primary);
  --state-card-back-end: var(--state-card-back-start);
  --state-card-img: ; // TODO: Wert festlegen

  // Fonts
  --font-primary: "Orbitron", sans-serif;
  --font-secondary: ; // TODO: Wert festlegen

  // Shape
  --card-radius: 12px;
}
