@use "../abstract/mixin";
@use "../abstract/functions" as fct;

.card {
  background-color: rgb(18, 18, 22);

  @include mixin.respond(sm) {
    font-size: fct.px-to-rem(10);
  }

  @include mixin.flex-center();
  @include mixin.fade-in(0.256s);

  &__title {
    color: red;
  }

  &__text {
    color: whitesmoke;

    &--highlight {
      color: red;
    }

    &:hover {
      color: white;
    }
  }
}
